  html, body {

  height: 100%;

  padding: 0;

  margin: 0;

  background: #000;
  

}
body h2{
  color: pink;
  text-align: center;
  
}
canvas {

  position: absolute;

  width: 100%;

  height: 100%;

}

  @media (min-width: 576px) { 
    body h2{
      position:relative;
      top: 350px;  
    }
   }
  
  
  @media (min-width: 768px) {  
     body h2{
      position:relative;
      top: 350px;  
  
    } }
  
  @media (min-width: 992px) { 
    body h2{
      position:relative;
      top: 700px;  
    }
   }
  
  
  @media (min-width: 1200px) { 
    body h2{
      position:relative;
      top: 300px;   
    }
   }
  
  
  @media (min-width: 1400px) {   
    body h2{
      position:relative;
      top: 200px;  
    }
  }